@using Benriya.Clients.Wasm.Components.Loading
@using Benriya.Clients.Wasm.Components.Icons

@typeparam TItem
@inherits Benriya.Clients.Wasm.Components.Grid.GridPaginationBase<TItem>

@*@if(isLoading || Items == null)
{

    <LoadingContent/>
}*@
<div class="row">
    <div class="col-12">
        <div class="bg-app" style="height:20px;">
            @if(SearchStyle != GridSearchStyle.Hide)// && SearchStyle != GridSearchStyle.Show)
            {            
                if (SearchRender == "filter-hide")
                {
                    <div class="float-right advance-filter"  @onclick="ToggleSearchRender" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls=".multi-collapse">
            <IconFunnel/> Show advance search</div>
                }
                else
                {
                    <div class="float-right advance-filter text-primary" @onclick="ToggleSearchRender" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="true" aria-controls=".multi-collapse">
                    <IconFunnelFill/> Hide advance search</div>
                }
            }
        </div>
        <table class="table table-sm table-striped table-bordered table-hover mb-0">
            <thead class="bg-info">
                <tr class="@SearchRender">
                    @GridColumns
                </tr>
            </thead>
            <tbody>
                @if (Items != null && Items.Count() > 0)
                {
                    
                    foreach (var item in Items)
                    {
                    <tr>
                        @GridRow(item)
                    </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="100">
                        @if (isLoading)
                        {
                            <LoadingInline/>
                        }
                        else
                        {
                            <p class="text-warning"><IconAlert/> No data found</p>
                        }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />    
</div>
<div class="row">
    <div class="col-5 mt-2">          
        <div class="float-left mt-1">
            <span class="text-left mr-3 text-info"><b>Total:</b> @(PagingHeader != null ? PagingHeader.TotalItems : 0) items</span>
        </div>
    </div>
    <div class="col-7 mt-2">    
        <div class="btn-group float-right" role="group">
            <button class="btn btn-danger border-secondary" @onclick="@(e => NavigateTo("first"))" data-toggle="tooltip" title="First">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-skip-start-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M4.5 3.5A.5.5 0 0 0 4 4v8a.5.5 0 0 0 1 0V4a.5.5 0 0 0-.5-.5z"/>
                  <path d="M4.903 8.697l6.364 3.692c.54.313 1.232-.066 1.232-.697V4.308c0-.63-.692-1.01-1.232-.696L4.903 7.304a.802.802 0 0 0 0 1.393z"/>
                </svg>
            </button>
            <button class="btn btn-danger border-secondary" @onclick="@(e => NavigateTo("prev"))" data-toggle="tooltip" title="Backward">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-skip-backward" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M.5 3.5A.5.5 0 0 1 1 4v3.248l6.267-3.636c.52-.302 1.233.043 1.233.696v2.94l6.267-3.636c.52-.302 1.233.043 1.233.696v7.384c0 .653-.713.998-1.233.696L8.5 8.752v2.94c0 .653-.713.998-1.233.696L1 8.752V12a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm7 1.133L1.696 8 7.5 11.367V4.633zm7.5 0L9.196 8 15 11.367V4.633z"/>
                </svg>
            </button>
            @if (!isLoading && Items != null && PagingHeader != null && PagingHeader.TotalPages > 0)
            {
                Paging = Pagination(CurrentPage, PagingHeader.TotalPages);
                foreach (int i in Paging)
                {
                    if (i == 0)
                    {
                        <button class="btn btn-light border-secondary disabled">                         
                            ...
                        </button>
                    }
                    else
                    {
                        <button class="btn border-secondary @(CurrentPage == i ? "btn-dark" : "btn-info")"
                            @onclick="@(e => UpdateList(i))">
                            @(i)
                        </button>
                    }
                }
            }
            else
            {
                int btns = !isLoading && PagingHeader != null && PagingHeader.TotalPages < 6 ? (PagingHeader.TotalPages > 0 ? PagingHeader.TotalPages : 1) : 9;
                for (int i = 0; i < btns; i++)
                {
                    <button class="btn btn-info disabled">                         
                            ...
                    </button>
                }
            }

            <button class="btn btn-danger border-secondary" @onclick="@(e => NavigateTo("next"))" data-toggle="tooltip" title="Forward">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-skip-forward" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M15.5 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V8.752l-6.267 3.636c-.52.302-1.233-.043-1.233-.696v-2.94l-6.267 3.636C.713 12.69 0 12.345 0 11.692V4.308c0-.653.713-.998 1.233-.696L7.5 7.248v-2.94c0-.653.713-.998 1.233-.696L15 7.248V4a.5.5 0 0 1 .5-.5zM1 4.633v6.734L6.804 8 1 4.633zm7.5 0v6.734L14.304 8 8.5 4.633z"/>
                </svg>
            </button>
            <button class="btn btn-danger border-secondary" @onclick="@(e => NavigateTo("last"))" data-toggle="tooltip" title="Last">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-skip-end-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M12 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
                  <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
            </button>
        </div>
    </div>
</div>