@page "/admin/filestore/types"

@using Benriya.Clients.Wasm.Components.Grid
@using Benriya.Clients.Wasm.Components.Modals
@using Benriya.Clients.Wasm.Components.Actions
@using Benriya.Share.Models.FileStore
@inherits Benriya.Clients.Wasm.Backend.Pages.Filestore.FileStoreType_ListBase
<Title>File type Management</Title>
<Meta Property="ogp:title" Content="File type Management"  />
<h3>Menu Management</h3>
<div class="bg-app border-top-info-5">
    <div class="mr-3 ml-3">
        <div class="d-none d-md-block"><div class="d-block" style="height:9px;"></div></div>
        <EditForm Model="@customSearch" OnValidSubmit="@HandleValidSubmitSearch">
            <DataAnnotationsValidator />
            <div class="form-row">
                <div class="form-group col-md-2"></div>
                <div class="form-group col-md-4">
                    <label class="mb-0">Test</label>
                    <InputText @bind-Value="@customSearch.user_name" class="form-control form-control-sm" type="text"/>
                    <ValidationMessage For="@(() => customSearch.user_name)" />
                </div>
                <div class="form-group col-md-4">
                    <label class="mb-0">Binding from Test input</label>
                    <InputText @bind-Value="@customSearch.user_name" class="form-control form-control-sm" type="text"/>
                    <ValidationMessage For="@(() => customSearch.user_name)" />
                </div>
                <div class="form-group col-md-2">
                    <label class="d-none d-md-block"><span class="d-block" style="height:9px;"></span></label>
                    <div class="form-control form-control-sm no-bg border-0 text-center text-md-left">                
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                        <button type="reset" class="btn btn-secondary" @onclick="@HandleReset"><i class="fa fa-times"></i> Clear</button>
                    </div>                    
                </div>
            </div>
            <div class="d-block d-md-none w-100"><div style="padding:8px; margin-top:8px; border-top:#EEE 3px solid;"></div></div>
        </EditForm>
    </div>
</div>
<AuthorizeView Roles="FileStore.Create">
    <Authorized Context="auth">
    <div class="bg-app mb-n3">
    <div class="btn-group ml-3" role="group" aria-label="Button group with nested dropdown" style="z-index:1">
      <button type="button" class="btn btn-success" @onclick="() => ShowForm()"><i class="fa fa-plus"></i> Add new -  @_lang.AddNew</button>
      @*<button type="button" class="btn btn-outline-secondary">2</button>*@
      <div class="btn-group" role="group">
        <button id="btnGroupActions" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Export
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupActions">
          <span class="dropdown-item"  @onclick="@(e => SetLang("th"))">Change lang</span>
          <a class="dropdown-item" href="#">CSV</a>
        </div>
      </div>
    </div>
    </div>
    </Authorized>
</AuthorizeView>
<GridView Items="@(new List<FileStore_FileType>())" OnSearch="@OnSearch" PageSize="5" SearchColumns="@SearchColumns" PageName="@_NavigationManager.Uri" isLoading="true"  Url="FileStore/FileType/List" SearchStyle="GridSearchStyle.HideFirst">  
    <GridColumns>
        <GridColumn ColumnTitle="id" Param="id" SearchText="false"/>
        <GridColumn ColumnTitle="Name" Param="@nameof(FileStore_FileType.name)" OnSearchTextChanged="@(e => OnSearchTextChanged(e, nameof(FileStore_FileType.name)))"/>
        <GridColumn ColumnTitle="file_extension"  Param="@nameof(FileStore_FileType.file_extension)" OnSearchTextChanged="@(e => OnSearchTextChanged(e, nameof(FileStore_FileType.file_extension)))"/>
        <GridColumn ColumnTitle="file_type" Param="@nameof(FileStore_FileType.file_type)" OnSearchTextChanged="@(e => OnSearchTextChanged(e, nameof(FileStore_FileType.file_type)))"/>
        <GridColumn ColumnTitle="is_active" InputType="checkbox"  Param="@nameof(FileStore_FileType.is_active)" OnSearchTextChanged="@(e => OnSearchTextChanged(e, nameof(FileStore_FileType.is_active)))"/>
        <GridColumn/>
    </GridColumns>
    <GridRow Context="data">
        <td>
            <NavLink href=@string.Format("/authors/authordetail/{0}", data.id)>@data.id</NavLink>
        </td>
        <td>@data.name</td>
        <td>@data.file_extension</td>
        <td>@data.file_type</td>
        <td>@data.is_active</td>
        <td>
            <button class="btn btn-sm btn-primary" @onclick="@(e => ShowModal(data))">Show</button>
            <button class="btn btn-sm btn-primary" @onclick="@(e => ShowForm(data))">Edit</button>
            <DeleteButton url="core/Menu" id="@data.id.ToString()" isReload="true">
                <Title><span><b>Remove confirmation</b> <small class="text-secondary">#@data.id</small></span></Title>
                <Content>
                    Do you want to remove: <b>@data.name</b>?
                </Content>
            </DeleteButton>
        </td>
    </GridRow>
</GridView>

<Modal @ref="modal">
    <Title>This is a <em>Title!</em></Title>
    <Body>
        <div>@ModelData.name</div>
        <div>@ModelData.file_extension</div>
        <div>@ModelData.file_type</div>
    </Body>
</Modal>

<ModalContent @ref="modalForm" OnClose="OnCloseModal">
    <Title>This is a <em>Title!</em> - @ModelData.id</Title>
    <Content>
        <FileStoreType_Form id="@ModelData.id.ToString()" loaded="loadedFrm" isReload="true" OnActionCompleted="OnActionCompleted" OnCancel="OnCancelForm"/>          
    </Content>
</ModalContent>
