@page "/admin/inventory/category/form/{id}"
@page "/admin/inventory/category/form"
@using Benriya.Clients.Wasm.Components.Forms
@inherits Benriya.Clients.Modules.Inventory.Products.Cagetgory_FormBase


<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <FormServValidator @ref="formValidator" />
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-4">
                <label>Name:</label>
                <InputText @bind-Value="model.name" class="form-control form-control-sm" type="text" />
                <ValidationMessage For="@(() => model.name)" />
            </div>            
            <div class="form-group col-4">
                <label>Desciption</label>
                <InputText @bind-Value="@model.description" class="form-control form-control-sm" type="text" />
                <ValidationMessage For="@(() => model.description)" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-8">
                <label>Is active</label>
                <InputCheckbox @bind-Value="model.is_active" class="form-control form-control-sm"/>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-center">

        <button type="submit" class="btn btn-primary">Save</button>
        @if (has_id)
        {
            <button type="button" class="btn btn-secondary" @onclick="@OnCancel">Close</button>
        }
        else
        {
            <button type="button" class="btn btn-secondary" @onclick="@ResetModel">Clear</button>
        }

    </div>
</EditForm>